suman:
    server: <SUSE Manager Server FQDN>
    user: <USER with enough righst>
    password: <password of the above user>
    timeout: 1200
    ssl_certificate_check: True  # change to False when using self-signed certificates

smtp:
   # sendmail: True is a mail should be send for minor and major errors. False if no mail should be send     
   sendmail: False
   receivers:
     - <who should receive the mail>
   sender: <send>
   server: 127.0.0.1

dirs:
   log_dir: /var/log/SUSE_Manager_tools
   scripts_dir: /opt/susemanager
   update_script_dir: /opt/susemanager/update_scripts

loglevel:
   # LOGLEVELS:
   # DEBUG: info warning error debug
   # INFO: info warning error
   # WARNING: warning error
   # ERROR: error
   file: DEBUG
   screen: INFO

migrate:
   skip_channels:
      - <part of or complete channel name>
   rename_channels:
      <part or channelname to change>: <change with part or channelname>
   project_labels:
      test*sp6: s156-test
      prod*sp6: s156-prod
   rename_groups:
      <part of group to replace>: <new group>
   os_groups:
      <group name>:
         - <project CLM>
         - <project CLM>

error_handling:
  # fatal: report error, exit script
  # error: report error, continue
  # warning: report warning, continue
   script: error
   update: error
   spmig: fatal
   configupdate: error
   reboot: fatal
   timeout_passed: fatal


maintenance:
   wait_between_systems: 2
   exclude_for_patch:
      - lx0001
      - lx0002
   sp_migration_project:
      sl123: sl125
      sl124: sl125
      sl122: sl125
      sl150: sl151
   sp_migration:
      sles12-sp1: sles12-sp4
   exception_sp:
      sles12-sp4:
         - lx0003

bootstrap-repo:
   command: "podman exec -ti uyuni-server mgr-create-bootstrap-repo"
   repos:
     SL-MICRO-6.0-x86_64: sm60-dev-sl-micro-6.0-pool-x86_64
     SL-MICRO-6.1-x86_64: sm61-dev-sl-micro-6.1-pool-x86_64
     SLE-15-SP6-x86_64: s156-dev-sle-product-sles15-sp6-pool-x86_64
     SLE-15-SP7-x86_64: s157-dev-sle-product-sles15-sp7-pool-x86_64
     SLE-MICRO-5.5-x86_64: sm55-dev-sle-micro-5.5-pool-x86_64

